@import "Font.scss";
@import "Mixin.scss";

.about- {
  width: 100%;
  background: url('./images/backback.jpg') no-repeat center;
  @include tablet {
    background: url('./images/mback.jpg') no-repeat center;
    background-size: cover;
  }
}


.about-content-wrapper {
  width: 1024px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  @include tablet {
    width: 96%;
    flex-direction: column;
    justify-content: center;
  }
}

.about-left-section {
  margin-top: 88px;
  font-family: "Pretendard", sans-serif;
  display: flex;
  margin-right: 48px;
  flex-direction: column;
  margin-bottom: 150px;
  @include tablet {
    margin: 72px 0 54px 2%;
  }
}

.about-left-section-1 {
  color: white;
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 8px;
  @include tablet {
    font-size: 28px;
    margin-bottom: 6px;
  }
}

.about-left-section-2 {
  color: white;
  font-size: 54px;
  font-weight: 700;
  @include tablet {
    font-size: 48px;
    line-height: 1.2;
  }
}

.about-right-section {
  margin-top: 128px;
  font-family: "Pretendard", sans-serif;
  display: flex;
  flex-direction: column;
  width: 540px;
  @include tablet {
    margin-top: 0;
    width: 98%;
    margin-left: 2%;
  }
}

.about-right-section-1 {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
  color:white;
  margin-bottom: 24px;
  text-align: left;
  @include tablet {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 20px;
    padding-right:18px;
  }
}

.about-right-section-2 {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
  color:white;
  margin-bottom: 24px;
  text-align: left;
  @include tablet {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 20px;
    padding-right:18px;
  }
}

.about-right-section-3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color:white;
  margin-bottom: 24px;
  text-align: right;
  @include tablet {
    font-size: 20px;
    line-height: 1.4;
    padding-right:18px;
    margin-bottom: 72px;
  }
}

.about-right-section-3 > h2 {
  color: white;
}

.culture {
  width: 100%;
  padding: 112px 0 64px;
  @include tablet {
    padding-top: 60px;
  }
}

.culture-content-wrapper {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Pretendard", sans-serif;
  @include tablet {
    width: 92%;
  }
}

.culture-info-wrapper {
  margin-bottom: 72px;
  @include tablet {
    margin-bottom: 54px;
  }
}

.culture-title {
  font-family: "Pretendard", sans-serif;
  font-size: 22px;
  color:#333333;
  font-weight: 700;
  margin-bottom: 12px;
  @include tablet {
    font-size: 18px;
  }
  @include newmobile {
    font-size: 16px;
  }
}

.culture-info {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  color:#333333;
  font-weight: 300;
  @include tablet {
    font-size: 16px;
    font-weight: 400;
  }
}

.culture-no-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 48px;
  @include tablet {
    flex-direction: column;
  }
}

.culture-no1-title-wrapper {
  width: 40%;
  font-family: "Pretendard", sans-serif;
  color: #333333;
  @include tablet {
    width: 80%;
  }
}

.numbering {
  font-weight: 700;
  font-size: 18px;
  width: 20px;
  padding-bottom: 6px;
  border-bottom: 2px solid #333333;
  margin-bottom: 4px;
}

.small-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
}

.big-title {
  font-weight: 300;
  font-size: 34px;
  line-height: 1.4;
  word-break: keep-all;
  @include tablet {
    font-size: 30px;
  }
}

.culture-content-wrapper- {
  list-style: outside;
  width: 600px;
  font-family: "Pretendard", sans-serif;
  color: #333333;
  padding-bottom: 0;
  @include tablet {
    width:94%;
  }
}

.culture-content {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
  word-break: keep-all;
  @include tablet {
    font-size: 17px;
    word-break: break-all;
    line-height: 1.6;
    margin-bottom:8px;
  }
}

.culture- {
  margin-top: 60px;
  @include tablet {
    margin-top:24px;
  }
}

.members {
  background-color: #f7f7f7;
  padding-top: 112px;
  padding-bottom: 88px;
}

.members-wrapper {
  width: 1024px;
  margin:0 auto;
  @include tablet {
    width:96%;
  }
}

.member-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-left: 0 !important;
  padding-bottom: 0 !important;
  @include tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}


.members-list-wrapper {
  width: 45%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding-right: 4%;
  @include tablet {
    width:100%;
    padding-right:0;
  }
}

.member {
  max-width: 140px;
  height: auto;
  margin-left: 4%;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-right: 4%;
}

.rank {
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
}

.member-info {
  font-family: "Pretendard", sans-serif;
  color:#666666;
}

.member-name-rank {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}

.member-position {
  font-size: 14px;
  margin-bottom: 8px;
}

.member-information {
  font-size: 16px;
  color: #444444;
  font-weight: 700;
  line-height: 1.4;
  word-break: keep-all;
}