@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img {
    max-width: 100%;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
a {
    text-decoration: none !important;
}
.site-head {
    padding: 36px 0;
    display: flex;
    background: url('./images/back3.jpg') no-repeat;
    background-size: cover;
    height: 300px;
    justify-content: center;
}

.head-container {
    width: 1024px;
    display: flex;
    flex-direction: column;
}

.head-logo {
    width: 140px;
    height: auto;
}

.head-main {
    padding: 88px 0 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Pretendard", serif;
    color: white;
}

.head-main h2 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 12px;
}

.head-main h5 {
    font-weight: 400;
    font-size: 20px;
}

.footer {
    border-top:solid 1px #f2f2f2;
    background-color: #fefefe;
    width: 100%;
}

.footer-container {
    width: 1024px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    font-family: "Pretendard", serif;
    color:grey;
    font-size: 14px;
}

.left-text {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6px;
}

.category-tab {
    font-family: "Pretendard", serif;
    font-weight: 500;
    color: black;
}

.main-category-wrapper {
    margin:24px auto 0 auto;
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-category-wrapper a{
    font-family: "Pretendard", serif;
    padding: 0 12px 0 4px;
    border-right: 1px solid #6f6f6f;
    /*background-color: #6f6f6f;*/
    /*border-radius:20px ;*/
    margin: 4px 4px;
}
/*.main-category-wrapper a:hover {*/
/*    background-color: #3f3f3f;*/
/*}*/

/**********POST LIST**********/
.list {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 72px;
}

.post-wrapper {
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
}

.post-list {
    width: 31.3%;
    margin:0 1% 32px 1%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.post-list:hover {
    transform: scale(1.04);
    transition: transform 150ms ease-in-out;
}

.post-thumbnail {
    border-radius: 10px 10px 0 0;
}

.post-items {
    padding:12px;
}

.post-title {
    font-family: "Pretendard", serif;
    color:#3f3f3f;
    font-weight: 700;
    font-size: 20px;
    margin-top:6px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.post-date {
    font-family: "Pretendard", serif;
    color:grey;
    font-weight: 400;
    font-size: 15px;
    margin-top: 6px;
}

.post-category {
    display: flex;
    flex-wrap: wrap;
    margin: 10px -5px;
}

.category-items {
    margin: 1.5px;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: #6f6f6f;
    font-family: "Pretendard", serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.summary {
    display: -webkit-box;
    overflow: hidden;
    margin-top: auto;
    text-overflow: ellipsis;
    white-space: normal;
    overflow-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 17px;
    opacity: 0.8;
    font-family: "Pretendard", serif;
    color:#333333;
    line-height:1.5;
}
/**********POST LIST**********/

/*.selected-All {*/
/*    color:red !important;*/
/*}*/

/**********POST HEAD**********/

.post-head-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 72px 0 2px;
    color: #ffffff;
}

.prev-page-icon {
    display: flex;
    place-items: center;
    font-size: 18px;
    cursor: pointer;
    color: grey;
}
.icon-text {
    font-family: "Pretendard", serif;
    font-size: 18px;
    font-weight: 500;
    color: grey;
    margin-left: 8px;
}
.head-list-wrapper {
    display: flex;
}

.post-head-category {
    background-color: grey;
    color: white;
    margin-right: 8px;
    border-radius: 20px;
}

.post-category-text {
    font-family: "Pretendard", serif;
    padding: 6px 12px;
}

.post-head-date {
    font-family: "Pretendard", serif;
    font-weight: 400;
    font-size: 18px;
    color: grey;
}

.site-head-post {
    padding: 36px 0;
    display: flex;
    background: url('./images/back3.jpg') no-repeat;
    background-size: cover;
    height: 160px;
    justify-content: center;
}

.head-main-post {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Pretendard", serif;
    color: white;
}

.head-main-post h2 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 12px;
}

.head-main-post h5 {
    font-weight: 400;
    font-size: 20px;
}
/**********POST HEAD**********/

.post-content-md {
    display: flex;
    flex-direction: column;
    width: 1024px;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 100px;
    font-family: "Pretendard", serif;
}

.post-content-md  p {
    padding: 3px 0;
}

.post-content-md h1, h2, h3 {
    font-weight: 800;
}

.post-content-md * + h1, * + h2, * + h3 {
    margin-top: 40px;
}

.post-content-md hr + h1, hr + h2, hr + h3 {
    margin-top: 0;
}

.post-content-md h1 {
    font-size: 30px;
}

.post-content-md h2 {
    font-size: 25px;
}

.post-content-md h3 {
    font-size: 20px;
}

.post-content-md blockquote {
    margin: 30px 0;
    padding: 5px 15px;
    border-left: 2px solid #000000;
    font-weight: 800;
}

.post-content-md ol, ul {
    margin-left: 20px;
    padding: 30px 0;
}

.post-content-md hr {
    border: 1px solid #000000;
    margin: 100px 0;
}

.post-content-md a {
    color: #4263eb;
    text-decoration: underline;
}

.post-content-md pre[class*='language-'] {
    margin: 30px 0;
    padding: 15px;
    font-size: 15px;
}
.post-content-md pre[class*='language-'] ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}


.post-content-md code[class*='language-'],
pre[class*='language-'] {
    tab-size: 2;
}

.post-content-md img {
    width: 100%;
    height: auto;
}
