@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img {
    max-width: 100%;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
a {
    text-decoration: none !important;
}
.site-head {
    padding: 36px 0;
    display: flex;
    background: url('./images/back3.jpg') no-repeat;
    background-size: contain;
    height: 360px;
    justify-content: center;
}

.head-container {
    width: 1024px;
    display: flex;
    flex-direction: column;
}

.head-logo {
    width: 140px;
    height: auto;
}

.head-main {
    padding: 80px 0 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Pretendard", serif;
    color: white;
}

.head-main h2 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 12px;
}

.head-main h5 {
    font-weight: 400;
    font-size: 20px;
}

.footer {
    border-top:solid 1px #f2f2f2;
    background-color: #fefefe;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer-container {
    width: 1024px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    font-family: "Pretendard", serif;
    color:grey;
    font-size: 14px;
}

.left-text {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6px;
}

.category-tab {
    font-family: "Pretendard", serif;
    font-weight: 500;
    color: black;
}


/*.selected-All {*/
/*    color:red !important;*/
/*}*/
