@import "Mixin";
@import "Font";


ul {
    list-style-position: outside;
}

table {
    left: 50%;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    max-width: 96%;
    margin-left: 2%;
}

table thead th {
    font-family: "Pretendard", sans-serif;
    word-break: keep-all;
    text-align: center;
    padding: 16px 32px;
    font-weight: 600;
    vertical-align: middle;
    color: #333333;
    background-color: #f5f5f5;
    @include oldmobile {
        padding: 12px 16px;
        font-size: 15.5px;
    }
}

table thead th + th {
    font-family: "Pretendard", sans-serif;
    text-align: center;
    word-break: keep-all;
    padding: 16px 32px;
    font-weight: 600;
    vertical-align: middle;
    color: #333333;
    background-color: #e8e8e8;
    @include oldmobile {
        padding: 12px 16px;
        font-size: 15.5px;
    }
}

table thead th + th + th {
    font-family: "Pretendard", sans-serif;
    text-align: center;
    word-break: keep-all;
    padding: 16px 32px;
    font-weight: 600;
    vertical-align: middle;
    color: #333333;
    background-color: #f5f5f5;
    @include oldmobile {
        padding: 12px 16px;
        font-size: 15.5px;
    }
}

table thead th + th + th + th {
    font-family: "Pretendard", sans-serif;
    text-align: center;
    word-break: keep-all;
    padding: 16px 32px;
    font-weight: 600;
    vertical-align: middle;
    color: #333333;
    background-color: #e8e8e8;
    @include oldmobile {
        padding: 12px 16px;
        font-size: 15.5px;
    }
}

table thead th + th + th + th + th {
    font-family: "Pretendard", sans-serif;
    text-align: center;
    word-break: keep-all;
    padding: 16px 32px;
    font-weight: 600;
    vertical-align: middle;
    color: #333333;
    background-color: #f5f5f5;
    @include oldmobile {
        padding: 12px 16px;
        font-size: 15.5px;
    }
}

table tbody th {
    padding: 11px 4px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
    @include oldmobile {
        padding: 12px 16px;
        font-size: 15.5px;
    }
}

table td {
    padding: 11px 4px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    @include oldmobile {
        padding: 12px 24px;
    }
}

//-------------------------------

.post-content-md {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin-right: 12px;
    margin-left: 36px;
    line-height: 1.75;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 48px;
    padding-top: 48px;
    font-family: "Pretendard", serif;
    //border-bottom: 2px solid rgb(242, 242, 242);
    border-top: 2px solid rgb(242, 242, 242);
    //border-top: 2px solid rgb(242, 242, 242);
    @include tablet {
        width: 88%;
        margin: 0 auto;
        padding-bottom: 0;
    }
}

.post-content-md ol, ul {
    margin-left: 4.5% !important;
    padding-bottom: 4px;
    @include tablet {
        padding-bottom: 4px;
    }
}

.post-content-md > ol {
    font-weight: 600;
}


.post-content-md p {
    word-break: break-all;
}

.post-content-md h1, h2, h3, h4 {
    font-family: "Pretendard", sans-serif;
    color: #333333;
}

.post-content-md > p > strong {
    //font-family: "Pretendard", sans-serif;
    //font-weight: 600;
    //font-size: 15px;
    //color:#5f5f5f;
    //text-align: center;
    font-weight: 700;
}

.post-content-md > table + p {
    //margin: 0 auto !important;
    text-align: center;
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 14.5px;
    color: #9f9f9f;
}

.post-content-md > p {
    font-size: 18px;
    font-weight: 400;
    @include tablet {
        font-size: 16px;
        padding-bottom: 12px;
    }
}

.post-content-md hr + h1, hr + h2, hr + h3 {
    margin-top: 0;
}

.post-content-md h1 {
    font-size: 30px;
    @include tablet {
        font-size: 24px;
    }
}

.post-content-md h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    @include tablet {
        font-size: 21px;
        margin-bottom: 8px;
    }
}

.post-content-md h3 {
    font-size: 20px;
    font-weight: 700;
    @include tablet {
        font-size: 18px;
        margin-bottom: 8px;
    }
}

.post-content-md h4 {
    font-size: 18px;
    font-weight: 700;
    @include tablet {
        font-size: 16px;
        margin-bottom: 8px;
    }
}

.post-content-md br {
    line-height: 1.3;
    margin-bottom: 30px;
}

.post-content-md blockquote {
    margin: 30px 0;
    padding: 5px 15px;
    border-left: 2px solid #000000;
    font-weight: 800;
}

.post-content-md ol ul li {
    font-family: "Pretendard", sans-serif;
    font-size: 18px;
    color: #333333;
    @include tablet {
        font-size: 16px;
        margin-bottom: 12px;
    }
}


.post-content-md ul li::marker {
    color: #333333 !important;
    font-size: 100% !important;
    margin-right: 2px;
}

.post-content-md hr {
    border: 1px solid #000000;
    margin: 12px 0 36px;
}

.post-content-md a {
    color: #4263eb;
    text-decoration: underline;
    @include tablet {
        font-size: 16px;
    }
}

//.post-content-md pre[class*='language-'] {
//  margin: 30px 0;
//  padding: 15px;
//  font-size: 15px;
//}
//.post-content-md pre[class*='language-'] ::-webkit-scrollbar-thumb {
//  background: rgba(255, 255, 255, 0.5);
//  border-radius: 3px;
//}
//
//
//.post-content-md code[class*='language-'],
//pre[class*='language-'] {
//  tab-size: 2;
//}

.post-content-md img {
    width: 100%;
    height: auto;
}

.post-content-md hr {
    border: white;
    margin: 20px 0;
}

.post-content-md pre[class*="language-"] {
    padding: 20px 12px;
    line-height: 1.65;
    @include tablet {
        font-size: 14px;
    }
}

.post-content-md :not(pre) > code[class*="language-"] {
    background-color: #f1f1f1;
    color: #333333;
    padding: 2px 8px;
    font-size: 18px;
    @include tablet {
        font-size: 14px;
    }
}

.post-content-md blockquote {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 18px;
    border-left: 5px solid #d9d9d9;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #f4f4f4;
    @include tablet {
        font-size: 16px;
    }
}

.post-content-md blockquote > p {
    padding: 0 0 0 8px;
}

.post-toc > ul > li > ul > li > ul {
    display: none;
}

